extends layout

block content
  input(type="text" name="title" value="" class="form-container_title" placeholder="TITLE")
  br
  button(type="submit" name="submit" class="form-container_delete" value="Отправить") delete
  button(type="submit" name="submit" class="form-container_send" value="Отправить") show all articles
  br
  h1 Все доступные артиклы:
  br
  p(class="article_box")
  script(src='/javascripts/main2.js')